<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <assemblySettings>
    <!-- Define Partner ID (PIM,WMS,EB...) -->
    <add key="PartnerID" value="PEB"/>
    <!-- Architecture mode --><!-- Valeurs possibles actuellement "MSMQ" ou "WebService" ou "File" -->
    <add key="ArchitectureMode" value="File"/>
    <add key="FileExport" value="D:\Interface\Connecteur\Import\" />
    <add key="FileImport" value="D:\Interface\Connecteur\Export\" />
    <add key="FileTimeOutSecond" value="60" />
    <add key="WSReference" value="http://172.18.48.1:7347/Main-Connect-W1-10-00/WS/CRONUS%20International%20Ltd./Codeunit/GenericConnector" />-->
    <!-- Define navison WebService reference -->
    <add key="WSReference" value="http://CFR-BGRRZF2.dom.prodware.fr:7347/Main-Connect-W1-10-00/WS/CRONUS%20International%20Ltd./Codeunit/GenericConnector" />
    <!-- Define Domain reference -->
    <add key="WSDomain" value=""/>
    <!-- Define Login reference -->
    <add key="WSLogin" value=""/>
    <!-- Define Password reference -->
    <add key="WSPassword" value=""/>
    <!-- Define Create log reference -->
    <add key="UseLog" value="0"/>
  </assemblySettings>
</configuration>



